{% extends 'base.html' %}

{% block title %}
    Delete Post
{% endblock title %}

{% block content %}
    <div style="display: flex">
        <div style="flex-basis: 80%">
            <div>
                <h2>{{ post.title }}</h2>
                <hr>
                <h3 style="padding-bottom: 1%;"><i>{{ post.user_id }} | category: {{ post.category }} | {{ post.created_at|date:"d-m-Y P" }}</i></h3>
                <p style="text-align: justify">{{ post.content|safe }}</p>
            </div>
            <h2>Are you sure?</h2>
            <form method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-secondary" style="background-color: red">Delete Post</button>
            </form>
        </div>
        <div style="flex-basis: 10%">
            <a href="../{{ post.id }}" class="btn btn-secondary">Back</a>
        </div>
    </div>
{% endblock content %}