{% extends 'base.html' %}

{% block title %}
    Add post
{% endblock title %}

{% block content %}
    <div style="display: flex">
        <div style="flex-basis: 90%">
            <h2>Post creation</h2>

            <form method="POST">
                {% csrf_token %}
                {{ form.media }}
                {{ form.as_p }}
                <button type="submit" class="btn btn-secondary">Create</button>
            </form>

        </div>
        <div style="flex-basis: 10%">
            <a href="/.." class="btn btn-secondary" style="margin-bottom: 3%">All Posts</a>
        </div>
    </div>
{% endblock content %}