{% extends 'base.html' %}

{% block title %}
    All Posts
{% endblock title %}

{% block content %}
<div style="display: flex">
    <div style="flex-basis: 90%">
        <h2>All posts</h2>
        <p>(total: {{ posts|length }})</p>
                <hr>
                {% if posts %}
                    <table style="margin-left: auto; margin-right: auto;">
                    {% for post in posts %}
                        <tr>
                            <td style="vertical-align: top; padding-right: 5vh;">
                                <h6>{{ post.id }}</h6>
                            </td>
                            <td>
                                <h6 style="text-align: justify">
                                    <a href="{{ post.id }}" style="text-decoration: none; color: #339999;">{{ post.title }}</a>
                                    <i>< category: {{ post.category }} ></i>
                                    <i>{{ post.data|date:'M d Y' }}</i>
                                </h6>
                                <p style="text-align: justify">{{ post.text|truncatewords:20|safe }}</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <br>
                            </td>
                        </tr>
                    {% endfor %}
                    </table>
                {% else %}
                    <h3>No posts</h3>
                {% endif %}

                {% if is_paginated %}
                <div>
                    {% if page_obj.has_previous %}
                        <a href="?page={{ page_obj.previous_page_number }}" style="text-decoration: none; color: #339999;">&lt; backward</a>
                    {% else %}
                        <span>&lt; backward</span>
                    {% endif %}
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}" style="text-decoration: none; color: #339999;">forward &gt;</a>
                    {% else %}
                        <span>forward &gt;</span>
                    {% endif %}
                </div>
                <div>
                    {% if page_obj.paginator.num_pages < 6 %}
                        {% for i in page_obj.paginator.page_range %}
                            <a href="?page={{ i }}" class="btn btn-secondary" >{{ i }}</a>
                        {% endfor %}
                    {% else %}
                        <a href="?page=1" class="btn btn-secondary" >1</a>
                        {% if page_obj.number > 3 %}
                            <span style="color: #339999;">...</span>
                        {% endif %}
                        {% if page_obj.number == 1 %}
                            <a href="?page=2" class="btn btn-secondary" >2</a>
                        {% elif page_obj.number == 2 %}
                            <a href="?page=2" class="btn btn-secondary" >2</a>
                            <a href="?page=3" class="btn btn-secondary" >3</a>
                        {% elif page_obj.number == page_obj.paginator.num_pages %}
                            <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-secondary" >{{ page_obj.previous_page_number }}</a>
                        {% elif page_obj.number > limit_for_listing %}
                            <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-secondary" >{{ page_obj.previous_page_number }}</a>
                            <a href="?page={{ page_obj.number }}" class="btn btn-secondary" >{{ page_obj.number }}</a>
                        {% else %}
                            <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-secondary" >{{ page_obj.previous_page_number }}</a>
                            <a href="?page={{ page_obj.number }}" class="btn btn-secondary" >{{ page_obj.number }}</a>
                            <a href="?page={{ page_obj.next_page_number }}" class="btn btn-secondary" >{{ page_obj.next_page_number }}</a>
                        {% endif %}
                        {% if page_obj.number < limit_for_listing %}
                            <span style="color: #339999;">...</span>
                        {% endif %}
                        <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-secondary" >{{ page_obj.paginator.num_pages }}</a>
                    {% endif %}
                </div>
                {% endif %}
    </div>
    <div style="flex-basis: 10%">
        <a href="newpost" class="btn btn-secondary">New post</a>
    </div>
</div>
{% endblock content %}